{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/center.css">
<link rel="stylesheet" type="text/css" href="/static/css/desp.css">

  <header>
    <nav>
      <ul>
        <li><a class="active" href="{% url 'pagina_inicio' %}">°| INICIO |°</a></li>

        <nav class="menucss3">
          <li><a href="#">°| QUIENES SOMOS  |°</a>
            <ul>
              <ol><a href="#">°| Horario de las Misas |°</a></ol>
              <ol><a href="#">°| Cursos |°</a></ol>
            </ul>
          </li>
        </nav>

        <nav class="menucss3">
          <li><a href="{% url 'pagina_inicio' %}">°| NOTICIAS |°</a>
            <ul>
              <ol><a href="{% url 'article_reader' %}">°| ARTICULOS |°</a></ol>
              <ol><a href="{% url 'activity_reader' %}">°| ACTIVIDADES |°</a></ol>
            </ul>
          </li>  
        </nav>

        <nav class="menucss3">
          <li><a href="{% url 'pagina_inicio' %}">°| COMUNIDAD |°</a>
            <ul>
              <ol><a href="{% url 'people_reader' %}">°| MIEMBROS DE LA COMUNIDAD |°</a></ol>
              <ol><a href="#">°|GRUPOS DE LA COMUNIDAD|°</a></ol>
              <ol><a href="{% url 'foar_reader' %}">°| FAMILIA OAR|°</a></ol>
              <ol><a href="#">°| SANTOS |°</a></ol>
            </ul>
          </li>  
        </nav>

        <li style="float:right;"> <a href="{% url 'login' %}" class="active">°| Nuestra señora del Socorro |°</a></li>
      </ul>
    </nav>  
  </header>

  <div class="center">
    {% if posts %}
      {% for post in posts %}
        <div class="row">
         <div class="leftcolumn">
            <div class="card">
              <h2>{{ post.titulo }}</h2>
              <h5>{{post.fp}}</h5>
              <br>
              <p style="height: auto;">{{ post.cuerpo|safe}}</p>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>      
      {% endfor %}
   {% else %}
      <br>
      <br>
      <br>
      <br>
      <h2 style="float:left;"> No Hay Noticias que Mostrar </h2>
    {% endif %}
  </div>

{% endblock %}