{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="/static/css/column.css">
  <link rel="stylesheet" type="text/css" href="/static/css/desp.css">

  <header>
    <nav>
      <ul>
        <li><a class="active" href="{% url 'pagina_inicio' %}">°| INICIO |°</a></li>

        <nav class="menucss3">
          <li><a href="#">°| QUIENES SOMOS  |°</a>
            <ul>
              <ol><a href="#">°| Horario de las Misas |°</a></ol>
              <ol><a href="#">°| Cursos |°</a></ol>
            </ul>
          </li>
        </nav>

        <nav class="menucss3">
          <li><a href="{% url 'pagina_inicio' %}">°| NOTICIAS |°</a>
            <ul>
              <ol><a href="{% url 'article_reader' %}">°| ARTICULOS |°</a></ol>
              <ol><a href="{% url 'activity_reader' %}">°| ACTIVIDADES |°</a></ol>
            </ul>
          </li>  
        </nav>

        <nav class="menucss3">
          <li><a href="{% url 'pagina_inicio' %}">°| COMUNIDAD |°</a>
            <ul>
              <ol><a href="{% url 'people_reader' %}">°| MIEMBROS DE LA COMUNIDAD |°</a></ol>
              <ol><a href="#">°|GRUPOS DE LA COMUNIDAD|°</a></ol>
              <ol><a href="{% url 'foar_reader' %}">°| FAMILIA OAR|°</a></ol>
              <ol><a href="#">°| SANTOS |°</a></ol>
            </ul>
          </li>  
        </nav>

        <li style="float:right;"> <a href="{% url 'login' %}" class="active">°| Nuestra señora del Socorro |°</a></li>
      </ul>
    </nav>  
  </header>

  </div>
    <div class="rightcolumn">
      <div class="card">
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=mg5soql5bji3p71i3gjjmo0ftg%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FCaracas" style="border-width:0" width="300" height="250" frameborder="0" scrolling="no"></iframe>
      </div>
  
      <div class="card2">
        <h3>Siguenos en </h3>
        <a href="#"><img style="height: 100px;" src="/static/img/instragram.png"></a>
        <a href="#"><img style="height: 100px;" src="/static/img/gmail.png"></a>
        <a href="#"><img style="height: 100px;" src="/static/img/facebook.png"></a>
      </div>
    </div>
  </div>

  {% if posts %}
    {% for post in posts %}
      <div class="row">
       <div class="leftcolumn">
          <div class="card">
            <h2>{{ post.title }}</h2>
            <h5>{{post.fe}}</h5>
            <br>
            <p style="color:black;">{{ post.body|safe}}</p>
            <br>
          </div>
        </div>
      </div>      
    {% endfor %}
 {% else %}
    <br>
    <br>
    <br>
    <br>
    <h2> No hay actividades publicadas </h2>
 {% endif %}  
 

{% endblock %}