{% extends "base.html" %}

{% block content %}

  <link rel="stylesheet" type="text/css" href="static/css/slideshow.css">
  <link rel="stylesheet" type="text/css" href="/static/css/desp.css">

  <header>
    <nav>
      <ul>
        <li><a class="active" href="{% url 'pagina_inicio' %}">°| INICIO |°</a></li>

        <nav class="menucss3">
          <li><a href="#">°| QUIENES SOMOS  |°</a>
            <ul>
              <ol><a href="#">°| La Parroquia |°</a></ol>
              <ol><a href="#">°| Cursos |°</a></ol>
              <ol><a href="#">°| Contactanos |°</a></ol>
            </ul>
          </li>
        </nav>

        <nav class="menucss3">
          <li><a href="{% url 'pagina_inicio' %}">°| NOTICIAS |°</a>
            <ul>
              <ol><a href="{% url 'article_reader' %}">°| ARTICULOS |°</a></ol>
              <ol><a href="{% url 'activity_reader' %}">°| ACTIVIDADES |°</a></ol>
            </ul>
          </li>  
        </nav>

        <nav class="menucss3">
          <li><a href="{% url 'pagina_inicio' %}">°| COMUNIDAD |°</a>
            <ul>
              <ol><a href="{% url 'people_reader' %}">°| MIEMBROS DE LA COMUNIDAD |°</a></ol>
              <ol><a href="{% url 'grupos_reader' %}">°|GRUPOS DE LA COMUNIDAD|°</a></ol>
              <ol><a href="{% url 'foar_reader' %}">°| FAMILIA OAR|°</a></ol>
              <ol><a href="{% url 'santos_reader' %}">°| SANTOS |°</a></ol>
            </ul>
          </li>  
        </nav>

        <li style="float:right;"> <a href="{% url 'login' %}" class="active">°| Nuestra señora del Socorro |°</a></li>
      </ul>
    </nav>  
  </header>

  <br>
  <br>
  <br>
  <br>

  <div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <a href="linkaca"><img src="static/img/image1.jpg" class="Foto"></a>
      <div class="title">Main Fernando
        <br>
        <div class="resume">Fernando es un paladin muy conocido que Raiderstain maneja con mucho control.</div>
      </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <a href="linkaca"><img src="static/img/image2.jpg" class="Foto"></a>
      <div class="title">Main gp
        <br>
        <div class="resume">Raiderstain co un 63% de winrate intenta ser el mejor pirata de Lan.</div>
      </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <a href="linkaca"><img src="static/img/image3.jpg" class="Foto"></a>
      <div class="title">Main kunkka
        <br>
        <div class="resume">uno de los mejores kunkka en la beta de dota 2 actualmente oxidado.</div>
      </div>
  </div>



  </div>
  <br>


  

<div style="text-align: center;" class ="banner">
  	  <div class="texto">
      °| Horarios |°
      </div>
      
      <br>
  		<li> De Martes a Viernes: </li>
   		<li>~</li>
  		 <li>~</li>
  		 <li>~</li>
 	  <br>
 		<li>Sabados y Domingos</li>
        <li>~</li>
        <li>~</li>
        <li>~</li>
  	  <br>
	 <div class="texto">
 	 °| Despacho |°
	 </div>
	 <br>
  		<li>De Martes a Domingo:</li>
  		<li>~</li>
</div>

<div style="text-align: center;" class ="banner2">
  <div class="texto">
      °| Frase del Día |°
      </div>
      
      <br>
      <h3>"No miente tan sólo aquel que habla en contra de lo que sabe, sino también aquel que habla en contra de lo que no sabe."</h3>
      <br>
      <div style="text-align:right"><h5>Nietzche</h5></div>
      <br>
   <div class="texto">
  <div class="texto">
      °| Donaciones |°
      </div>

</div>
<script>
  var slideIndex = 0;
  showSlides();


  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1} 
    slides[slideIndex-1].style.display = "block"; 
    setTimeout(showSlides, 5000); // Las img cambia cada 5 seg.
  }
</script>

{% endblock %}